<div class="jumbotron" id="mainJumbotron" style="">

    <p style="position:; font-weight: bold; color: indianred; margin-left:775px; margin-top: 275px;">Every Handshake is an opportunity</p>
</div>

<div class="row">
    @Html.Partial("_Register")
</div>